head, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

#base-panel{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #302725;
    height: 100%;
    width: 90px;
}

#base-panel .items{
    position: relative;
}

#base-panel .items .item{
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
    position: relative;
    color: rgba(255, 255, 255, 0.3);
}

#base-panel .image{
    height: 51px;
}

#base-panel .image .inner{
    width: 32px;
    height: 32px;
    margin: auto;
    margin-top: 10px;
}

#base-panel .image .inner img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: block;
    background-color: #fff;
}

#base-panel .items .item .icon{
    padding: 10px 0px;
    margin-bottom: 5px;
}

#base-panel .items .item .info{
    padding: 0px 5px 12px;
    font-size: 14px;
}